*{
    margin: 0;
    padding: 0;
}
header {
    width: 100%;
}
.menu-bar {
    display: none;
    width: 100%;
    margin-top: 100%;
}
.bt-menu {
    display: block;
    
}
nav {
    background-color:white;
    width: 100%;
    font-size: 1.1em;

}
ul {
    list-style: none;
}

    

nav ul li {
    display: inline-block;
}
nav ul li:hover {
    background-color: rgb(218, 218, 218);
}
nav ul li  {
    margin-right: 0px;
    margin-left: 20px;
}
nav ul  {
    position: relative;
    top: 1px;
    margin-left: 1px;
}
a {
    color: rgb(0, 0, 0);
    padding: 5px;
    text-decoration: none;
    display: block;
   
}


nav ul li:hover .children {
    display: block;
}
.no{
    list-style: none;
    width: 300px;
   border-radius:30px;
   

   
}

.h{
   color:white; 
   background-color: rgb(31, 28, 28);
   margin-left: 30px;
   padding: 10px;
   border-radius: 5px;
   
   
   
}
