.main-box{
    display: flex;
    flex-direction: row;


}
h1{
    text-align: center;
}
.box1, .box2, .box3,.box4,.box-1-fixed,.box-2-fixed{
    width: 250px;
    height: 250px;
    margin: 20px;
    color: aliceblue;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.box1{
    
    background-color: rgb(3, 248, 228);
}
.box2{
    background-color: rgb(9, 255, 9);
}
.box3{
    background-color: rgb(205, 255, 22);
}
.box4{
    background-color: rgb(255, 10, 10);
}
.box-1-fixed{
    background-color: aqua;
    position: fixed;
    bottom: 0;
    right: 0px;
}

.box-2-fixed{
    background-color: rgb(43, 172, 43);
    position: fixed;
   top: 0px;
   left: 0px;
}

.top-1-fixed{
    
        width: 80px;
        height: 500px;
      
        color: aliceblue;
        font-size: 1.5em;
        display: flex;
        justify-content: center;
        align-items: center;
    background-color: blue;
    position: fixed;
bottom: 500px;
right: 0px;

}

* {
    margin: 0;
    padding: 0;
}
header {
    width: 100%;
}
.menu-bar {
    display: none;
    width: 100%;
}
.bt-menu {
    display: block;
    padding: 20px;
}
nav {
    background-color: rgba(29, 26, 26, 0.938);
    width: 100%;
    font-size: 1.3em;
}


nav ul {
    text-align: right;
}
nav ul li {
    display: inline-block;
}
nav ul li:hover{
    background-color: rgb(19, 17, 17);
}
nav ul li i {
    margin-right: 10px;
}
nav ul .fa-chevron-down {
    position: relative;
    top: 3px;
    margin-left: 10px;
}
a {
    color: rgb(205, 217, 218);
    padding: 20px;
    text-decoration: none;
    display: block;
}
.children{
    display: none;
    position: absolute;
    background-color: rgb(109, 101, 101);
}
nav ul li:hover .children {
    display: block;
}
.children li {
    display: block;
}
.children li a {
    color: rgb(122, 203, 206);
    display:block;
    text-align: left;
}
.main-content {
    margin: 30px;
}
h1 {
    text-align: center;
}
p{
    font-size: 1,2em;
    line-height: 1.4em;
    text-align: justify;
}
@media only screen and (max-width: 650px) {
    body {
        padding-top: 70px;
    }
    .menu-bar{
        display: block;
        position: fixed;
        background-color: rgb(109, 101, 101);
        width: 100%;
        top: 0;
    }
    .bt-menu {
        display: block;
        padding: 20px;
        color: rgb(122, 203, 206);
        font-size: 25px;
        font-weight: bold;
    }
    nav {
        width: 75%;
        position: fixed;
        height: calc(100% - 80px);
    }
    nav ul {
        text-align: left;
    }
    nav ul li {
        display: block;
        border-bottom: 1px solid rgb(122, 203, 206);
    }
    .children {
        display: none;
    }
    .menu-bar i {
        float: right;
        font-size: 30px;
    }
}
